In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import os
import shutil

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [ ]:
import urllib.request
url = 'https://storage.googleapis.com/mclean_test_bucket/python/breastCancer.csv'  
urllib.request.urlretrieve(url, 'breastCancer.csv')
#http://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Original)

In [2]:
dataset = pd.read_csv('breastCancer.csv')# http://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Original)
dataset.iloc[:,0:11]#all rows, columns 0 up to 11

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [3]:
dataset.describe()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [ ]:
import seaborn as sns
sns.set(style="ticks")
sns.set_palette("Set1", n_colors=2)
sns.pairplot(dataset.iloc[:,1:11], hue="class")

In [4]:
# In CSV, label is the first column, after the features
CSV_COLUMNS = ['clump_thickness', 'size_uniformity','shape_uniformity','marginal_adhesion','epithelial_size','bare_nucleoli','bland_chromatin','normal_nucleoli','mitoses','class']
FEATURES = CSV_COLUMNS[0:len(CSV_COLUMNS) - 1]
LABEL = CSV_COLUMNS[9]
print(len(dataset))
dataset2 = dataset[dataset.bare_nucleoli != '?']#remove rows with bare_nucleoli='?'
print(len(dataset2))
dataset2 = dataset2.astype(int)
dataset2['class'][dataset2['class'] == 2] = 0 #convert class 2 to 0, benign
dataset2['class'][dataset2['class'] == 4] = 1 #convert class 4 to 1, malignant
#print(dataset2.dtypes)
df_train = dataset2.iloc[0:535,1:11] # use first 78% as training data
df_eval = dataset2.iloc[535:645,1:11] # use next 16% as eval data
df_test = dataset2.iloc[645:,1:10] # use last 6% as test data
print(FEATURES)
print(LABEL)
print(dataset2)
print(df_train.head())
print(df_train.tail())
print(df_train.dtypes)
df_test

699
683
['clump_thickness', 'size_uniformity', 'shape_uniformity', 'marginal_adhesion', 'epithelial_size', 'bare_nucleoli', 'bland_chromatin', 'normal_nucleoli', 'mitoses']
class
          id  clump_thickness  size_uniformity  shape_uniformity  \
0    1000025                5                1                 1
1    1002945                5                4                 4
2    1015425                3                1                 1
3    1016277                6                8                 8
4    1017023                4                1                 1
5    1017122                8               10                10
6    1018099                1                1                 1
7    1018561                2                1                 2
8    1033078                2                1                 1
9    1033078                4                2                 1
10   1035283                1                1                 1
11   1036172                2                1                 1
12   1041801                5                3                 3
13   1043999                1                1                 1
14   1044572                8                7                 5
15   1047630                7                4                 6
16   1048672                4                1                 1
17   1049815                4                1                 1
18   1050670               10                7                 7
19   1050718                6                1                 1
20   1054590                7                3                 2
21   1054593               10                5                 5
22   1056784                3                1                 1
24   1059552                1                1                 1
25   1065726                5                2                 3
26   1066373                3                2                 1
27   1066979                5                1                 1
28   1067444                2                1                 1
29   1070935                1                1                 3
30   1070935                3                1                 1
..       ...              ...              ...               ...
669  1350423                5               10                10
670  1352848                3               10                 7
671  1353092                3                2                 1
672  1354840                2                1                 1
673  1354840                5                3                 2
674  1355260                1                1                 1
675  1365075                4                1                 4
676  1365328                1                1                 2
677  1368267                5                1                 1
678  1368273                1                1                 1
679  1368882                2                1                 1
680  1369821               10               10                10
681  1371026                5               10                10
682  1371920                5                1                 1
683   466906                1                1                 1
684   466906                1                1                 1
685   534555                1                1                 1
686   536708                1                1                 1
687   566346                3                1                 1
688   603148                4                1                 1
689   654546                1                1                 1
690   654546                1                1                 1
691   695091                5               10                10
692   714039                3                1                 1
693   763235                3                1                 1
694   776715                3                1                 1
695   841769                2                1                 1
696   888820                5               10                10
697   897471                4                8                 6
698   897471                4                8                 8

     marginal_adhesion  epithelial_size  bare_nucleoli  bland_chromatin  \
0                    1                2              1                3
1                    5                7             10                3
2                    1                2              2                3
3                    1                3              4                3
4                    3                2              1                3
5                    8                7             10                9
6                    1                2             10                3
7                    1                2              1                3
8                    1                2              1                1
9                    1                2              1                2
10                   1                1              1                3
11                   1                2              1                2
12                   3                2              3                4
13                   1                2              3                3
14                  10                7              9                5
15                   4                6              1                4
16                   1                2              1                2
17                   1                2              1                3
18                   6                4             10                4
19                   1                2              1                3
20                  10                5             10                5
21                   3                6              7                7
22                   1                2              1                2
24                   1                2              1                3
25                   4                2              7                3
26                   1                1              1                2
27                   1                2              1                2
28                   1                2              1                2
29                   1                2              1                1
30                   1                1              1                2
..                 ...              ...            ...              ...
669                  8                5              5                7
670                  8                5              8                7
671                  2                2              1                3
672                  1                2              1                3
673                  1                3              1                1
674                  1                2              1                2
675                  1                2              1                1
676                  1                2              1                2
677                  1                2              1                1
678                  1                2              1                1
679                  1                2              1                1
680                 10                5             10               10
681                 10                4             10                5
682                  1                2              1                3
683                  1                2              1                1
684                  1                2              1                1
685                  1                2              1                1
686                  1                2              1                1
687                  1                2              1                2
688                  1                2              1                1
689                  1                2              1                1
690                  3                2              1                1
691                  5                4              5                4
692                  1                2              1                1
693                  1                2              1                2
694                  1                3              2                1
695                  1                2              1                1
696                  3                7              3                8
697                  4                3              4               10
698                  5                4              5               10

     normal_nucleoli  mitoses  class
0                  1        1      0
1                  2        1      0
2                  1        1      0
3                  7        1      0
4                  1        1      0
5                  7        1      1
6                  1        1      0
7                  1        1      0
8                  1        5      0
9                  1        1      0
10                 1        1      0
11                 1        1      0
12                 4        1      1
13                 1        1      0
14                 5        4      1
15                 3        1      1
16                 1        1      0
17                 1        1      0
18                 1        2      1
19                 1        1      0
20                 4        4      1
21                10        1      1
22                 1        1      0
24                 1        1      0
25                 6        1      1
26                 1        1      0
27                 1        1      0
28                 1        1      0
29                 1        1      0
30                 1        1      0
..               ...      ...    ...
669               10        1      1
670                4        1      1
671                1        1      0
672                1        1      0
673                1        1      0
674                1        1      0
675                1        1      0
676                1        1      0
677                1        1      0
678                1        1      0
679                1        1      0
680               10        7      1
681                6        3      1
682                2        1      0
683                1        1      0
684                1        1      0
685                1        1      0
686                1        1      0
687                3        1      0
688                1        1      0
689                1        8      0
690                1        1      0
691                4        1      1
692                1        1      0
693                1        2      0
694                1        1      0
695                1        1      0
696               10        2      1
697                6        1      1
698                4        1      1

[683 rows x 11 columns]
   clump_thickness  size_uniformity  shape_uniformity  marginal_adhesion  \
0                5                1                 1                  1
1                5                4                 4                  5
2                3                1                 1                  1
3                6                8                 8                  1
4                4                1                 1                  3

   epithelial_size  bare_nucleoli  bland_chromatin  normal_nucleoli  mitoses  \
0                2              1                3                1        1
1                7             10                3                2        1
2                2              2                3                1        1
3                3              4                3                7        1
4                2              1                3                1        1

   class
0      0
1      0
2      0
3      0
4      0
     clump_thickness  size_uniformity  shape_uniformity  marginal_adhesion  \
545                5                1                 1                  1
546                6               10                10                 10
547                2                1                 1                  1
548                3                1                 1                  1
549                7                8                 3                  7

     epithelial_size  bare_nucleoli  bland_chromatin  normal_nucleoli  \
545                2              1                2                1
546                4             10                7               10
547                1              1                1                1
548                1              1                1                1
549                4              5                7                8

     mitoses  class
545        1      0
546        1      1
547        1      0
548        1      0
549        2      1
clump_thickness      int64
size_uniformity      int64
shape_uniformity     int64
marginal_adhesion    int64
epithelial_size      int64
bare_nucleoli        int64
bland_chromatin      int64
normal_nucleoli      int64
mitoses              int64
class                int64
dtype: object

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses
661,4,1,1,1,2,1,3,1,1
662,1,1,3,1,2,1,2,1,1
663,1,1,3,1,2,1,2,1,1
664,3,1,1,3,2,1,2,1,1
665,1,1,1,1,2,1,1,1,1
666,5,2,2,2,2,1,1,1,2
667,3,1,1,1,2,1,3,1,1
668,5,7,4,1,6,1,7,10,3
669,5,10,10,8,5,5,7,10,1
670,3,10,7,8,5,8,7,4,1
671,3,2,1,2,2,1,3,1,1
672,2,1,1,1,2,1,3,1,1
673,5,3,2,1,3,1,1,1,1
674,1,1,1,1,2,1,2,1,1
675,4,1,4,1,2,1,1,1,1
676,1,1,2,1,2,1,2,1,1
677,5,1,1,1,2,1,1,1,1
678,1,1,1,1,2,1,1,1,1
679,2,1,1,1,2,1,1,1,1
680,10,10,10,10,5,10,10,10,7
681,5,10,10,10,4,10,5,6,3
682,5,1,1,1,2,1,3,2,1
683,1,1,1,1,2,1,1,1,1
684,1,1,1,1,2,1,1,1,1
685,1,1,1,1,2,1,1,1,1
686,1,1,1,1,2,1,1,1,1
687,3,1,1,1,2,1,2,3,1
688,4,1,1,1,2,1,1,1,1
689,1,1,1,1,2,1,1,1,8
690,1,1,1,3,2,1,1,1,1
691,5,10,10,5,4,5,4,4,1
692,3,1,1,1,2,1,1,1,1
693,3,1,1,1,2,1,2,1,2
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [5]:
def make_feature_cols():
  input_columns = [tf.feature_column.numeric_column(k) for k in FEATURES]
  return input_columns

In [6]:
feature_columns = make_feature_cols()
feature_columns

[_NumericColumn(key='clump_thickness', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='size_uniformity', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='shape_uniformity', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='marginal_adhesion', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='epithelial_size', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='bare_nucleoli', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='bland_chromatin', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='normal_nucleoli', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='mitoses', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [7]:
tf.logging.set_verbosity(tf.logging.INFO)

OUTDIR = './logs/breastCancer_trained'
shutil.rmtree(OUTDIR, ignore_errors = True) # start fresh each time

myopt = tf.train.FtrlOptimizer(learning_rate = 0.01)
model = tf.estimator.DNNClassifier(feature_columns = make_feature_cols(), 
                                   model_dir = OUTDIR, hidden_units=[10, 10], 
                                   n_classes=2,optimizer = myopt,
                                   activation_fn = tf.nn.relu)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': './logs/breastCancer_trained', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1816b4c860>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

![title](bcnn3.png)

In [8]:
def make_input_fn(df, num_epochs):
  return tf.estimator.inputs.pandas_input_fn(
    x = df,
    y = df[LABEL],
    num_epochs = num_epochs,
    shuffle = True,
    num_threads = 1
  )

In [9]:
model.train(input_fn = make_input_fn(df_train, num_epochs = 3000))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into ./logs/breastCancer_trained/model.ckpt.
INFO:tensorflow:loss = 90.194, step = 1
INFO:tensorflow:global_step/sec: 231.587
INFO:tensorflow:loss = 53.262722, step = 101 (0.434 sec)
INFO:tensorflow:global_step/sec: 339.269
INFO:tensorflow:loss = 41.958725, step = 201 (0.295 sec)
INFO:tensorflow:global_step/sec: 333.695
INFO:tensorflow:loss = 35.936295, step = 301 (0.300 sec)
INFO:tensorflow:global_step/sec: 286.828
INFO:tensorflow:loss = 32.954674, step = 401 (0.349 sec)
INFO:tensorflow:global_step/sec: 345.273
INFO:tensorflow:loss = 37.92449, step = 501 (0.289 sec)
INFO:tensorflow:global_step/sec: 357.967
INFO:tensorflow:loss = 24.966667, step = 601 (0.280 sec)
INFO:tensorflow:global_step/sec: 349.726
INFO:tensorflow:loss = 26.336914, step = 701 (0.286 sec)
INFO:tensorflow:global_step/sec: 363.077
INFO:tensorflow:loss = 23.819115, step = 801 (0.276 sec)
INFO:tensorflow:global_step/sec: 334.784
INFO:tensorflow:loss = 11.663841, step = 901 (0.299 sec)
INFO:tensorflow:global_step/sec: 347.954
INFO:tensorflow:loss = 19.829578, step = 1001 (0.287 sec)
INFO:tensorflow:global_step/sec: 326.622
INFO:tensorflow:loss = 12.132614, step = 1101 (0.305 sec)
INFO:tensorflow:global_step/sec: 354.662
INFO:tensorflow:loss = 17.510933, step = 1201 (0.283 sec)
INFO:tensorflow:global_step/sec: 350.632
INFO:tensorflow:loss = 17.340374, step = 1301 (0.285 sec)
INFO:tensorflow:global_step/sec: 356.062
INFO:tensorflow:loss = 19.642021, step = 1401 (0.281 sec)
INFO:tensorflow:global_step/sec: 343.993
INFO:tensorflow:loss = 15.807218, step = 1501 (0.291 sec)
INFO:tensorflow:global_step/sec: 344.329
INFO:tensorflow:loss = 8.951592, step = 1601 (0.290 sec)
INFO:tensorflow:global_step/sec: 340.105
INFO:tensorflow:loss = 10.66679, step = 1701 (0.294 sec)
INFO:tensorflow:global_step/sec: 344.802
INFO:tensorflow:loss = 21.731174, step = 1801 (0.290 sec)
INFO:tensorflow:global_step/sec: 348.989
INFO:tensorflow:loss = 15.010778, step = 1901 (0.286 sec)
INFO:tensorflow:global_step/sec: 349.218
INFO:tensorflow:loss = 14.48769, step = 2001 (0.286 sec)
INFO:tensorflow:global_step/sec: 346.638
INFO:tensorflow:loss = 7.161619, step = 2101 (0.288 sec)
INFO:tensorflow:global_step/sec: 348.56
INFO:tensorflow:loss = 14.303501, step = 2201 (0.287 sec)
INFO:tensorflow:global_step/sec: 332.911
INFO:tensorflow:loss = 7.4884825, step = 2301 (0.299 sec)
INFO:tensorflow:global_step/sec: 342.185
INFO:tensorflow:loss = 7.982308, step = 2401 (0.294 sec)
INFO:tensorflow:global_step/sec: 323.779
INFO:tensorflow:loss = 8.3935175, step = 2501 (0.316 sec)
INFO:tensorflow:global_step/sec: 327.085
INFO:tensorflow:loss = 17.19509, step = 2601 (0.300 sec)
INFO:tensorflow:global_step/sec: 292.459
INFO:tensorflow:loss = 11.187203, step = 2701 (0.343 sec)
INFO:tensorflow:global_step/sec: 310.375
INFO:tensorflow:loss = 20.695328, step = 2801 (0.320 sec)
INFO:tensorflow:global_step/sec: 331.764
INFO:tensorflow:loss = 7.886229, step = 2901 (0.301 sec)
INFO:tensorflow:global_step/sec: 320.759
INFO:tensorflow:loss = 13.994031, step = 3001 (0.312 sec)
INFO:tensorflow:global_step/sec: 349.289
INFO:tensorflow:loss = 9.727457, step = 3101 (0.287 sec)
INFO:tensorflow:global_step/sec: 346.359
INFO:tensorflow:loss = 12.950676, step = 3201 (0.289 sec)
INFO:tensorflow:global_step/sec: 345.053
INFO:tensorflow:loss = 11.172143, step = 3301 (0.289 sec)
INFO:tensorflow:global_step/sec: 349.986
INFO:tensorflow:loss = 9.455471, step = 3401 (0.286 sec)
INFO:tensorflow:global_step/sec: 341.446
INFO:tensorflow:loss = 6.2390976, step = 3501 (0.293 sec)
INFO:tensorflow:global_step/sec: 322.177
INFO:tensorflow:loss = 11.900368, step = 3601 (0.310 sec)
INFO:tensorflow:global_step/sec: 342.618
INFO:tensorflow:loss = 3.3526993, step = 3701 (0.291 sec)
INFO:tensorflow:global_step/sec: 325.055
INFO:tensorflow:loss = 10.660256, step = 3801 (0.309 sec)
INFO:tensorflow:global_step/sec: 345.495
INFO:tensorflow:loss = 9.902555, step = 3901 (0.291 sec)
INFO:tensorflow:global_step/sec: 337.422
INFO:tensorflow:loss = 9.853164, step = 4001 (0.294 sec)
INFO:tensorflow:global_step/sec: 346.193
INFO:tensorflow:loss = 6.946582, step = 4101 (0.290 sec)
INFO:tensorflow:global_step/sec: 348.192
INFO:tensorflow:loss = 10.071528, step = 4201 (0.286 sec)
INFO:tensorflow:global_step/sec: 330.956
INFO:tensorflow:loss = 9.179385, step = 4301 (0.301 sec)
INFO:tensorflow:global_step/sec: 325.54
INFO:tensorflow:loss = 10.137351, step = 4401 (0.309 sec)
INFO:tensorflow:global_step/sec: 347.233
INFO:tensorflow:loss = 11.292209, step = 4501 (0.288 sec)
INFO:tensorflow:global_step/sec: 331.551
INFO:tensorflow:loss = 9.839306, step = 4601 (0.301 sec)
INFO:tensorflow:global_step/sec: 319.128
INFO:tensorflow:loss = 6.628997, step = 4701 (0.313 sec)
INFO:tensorflow:global_step/sec: 332.909
INFO:tensorflow:loss = 12.707157, step = 4801 (0.300 sec)
INFO:tensorflow:global_step/sec: 321.412
INFO:tensorflow:loss = 7.9298687, step = 4901 (0.311 sec)
INFO:tensorflow:global_step/sec: 328.816
INFO:tensorflow:loss = 13.09538, step = 5001 (0.304 sec)
INFO:tensorflow:global_step/sec: 330.701
INFO:tensorflow:loss = 6.1160975, step = 5101 (0.302 sec)
INFO:tensorflow:global_step/sec: 338.791
INFO:tensorflow:loss = 11.498581, step = 5201 (0.294 sec)
INFO:tensorflow:global_step/sec: 333.431
INFO:tensorflow:loss = 9.454561, step = 5301 (0.301 sec)
INFO:tensorflow:global_step/sec: 329.591
INFO:tensorflow:loss = 5.357419, step = 5401 (0.302 sec)
INFO:tensorflow:global_step/sec: 336.32
INFO:tensorflow:loss = 10.349659, step = 5501 (0.299 sec)
INFO:tensorflow:global_step/sec: 342.193
INFO:tensorflow:loss = 8.307655, step = 5601 (0.292 sec)
INFO:tensorflow:global_step/sec: 340.533
INFO:tensorflow:loss = 7.029175, step = 5701 (0.293 sec)
INFO:tensorflow:global_step/sec: 335.222
INFO:tensorflow:loss = 7.183678, step = 5801 (0.299 sec)
INFO:tensorflow:global_step/sec: 347.61
INFO:tensorflow:loss = 7.221848, step = 5901 (0.288 sec)
INFO:tensorflow:global_step/sec: 366.98
INFO:tensorflow:loss = 4.1611867, step = 6001 (0.273 sec)
INFO:tensorflow:global_step/sec: 329.121
INFO:tensorflow:loss = 3.1772616, step = 6101 (0.304 sec)
INFO:tensorflow:global_step/sec: 321.341
INFO:tensorflow:loss = 11.376471, step = 6201 (0.311 sec)
INFO:tensorflow:global_step/sec: 340.183
INFO:tensorflow:loss = 4.77039, step = 6301 (0.294 sec)
INFO:tensorflow:global_step/sec: 342.42
INFO:tensorflow:loss = 6.2372746, step = 6401 (0.292 sec)
INFO:tensorflow:global_step/sec: 346.423
INFO:tensorflow:loss = 12.329872, step = 6501 (0.289 sec)
INFO:tensorflow:global_step/sec: 331.235
INFO:tensorflow:loss = 6.8086076, step = 6601 (0.301 sec)
INFO:tensorflow:global_step/sec: 346.711
INFO:tensorflow:loss = 10.899392, step = 6701 (0.288 sec)
INFO:tensorflow:global_step/sec: 373.651
INFO:tensorflow:loss = 5.241789, step = 6801 (0.268 sec)
INFO:tensorflow:global_step/sec: 332.888
INFO:tensorflow:loss = 7.2822986, step = 6901 (0.299 sec)
INFO:tensorflow:global_step/sec: 341.036
INFO:tensorflow:loss = 8.239166, step = 7001 (0.294 sec)
INFO:tensorflow:global_step/sec: 323.337
INFO:tensorflow:loss = 7.519441, step = 7101 (0.310 sec)
INFO:tensorflow:global_step/sec: 338.091
INFO:tensorflow:loss = 9.081062, step = 7201 (0.296 sec)
INFO:tensorflow:global_step/sec: 322.262
INFO:tensorflow:loss = 6.319769, step = 7301 (0.311 sec)
INFO:tensorflow:global_step/sec: 327.932
INFO:tensorflow:loss = 7.5657854, step = 7401 (0.305 sec)
INFO:tensorflow:global_step/sec: 337.218
INFO:tensorflow:loss = 3.6207778, step = 7501 (0.297 sec)
INFO:tensorflow:global_step/sec: 342.939
INFO:tensorflow:loss = 9.744558, step = 7601 (0.291 sec)
INFO:tensorflow:global_step/sec: 342.268
INFO:tensorflow:loss = 6.2907424, step = 7701 (0.292 sec)
INFO:tensorflow:global_step/sec: 342.609
INFO:tensorflow:loss = 7.720598, step = 7801 (0.292 sec)
INFO:tensorflow:global_step/sec: 334.187
INFO:tensorflow:loss = 13.299448, step = 7901 (0.299 sec)
INFO:tensorflow:global_step/sec: 339.084
INFO:tensorflow:loss = 17.281649, step = 8001 (0.295 sec)

INFO:tensorflow:global_step/sec: 335.465
INFO:tensorflow:loss = 10.348414, step = 8101 (0.296 sec)
INFO:tensorflow:global_step/sec: 352.122
INFO:tensorflow:loss = 9.083048, step = 8201 (0.286 sec)
INFO:tensorflow:global_step/sec: 362.319
INFO:tensorflow:loss = 5.030718, step = 8301 (0.277 sec)
INFO:tensorflow:global_step/sec: 359.061
INFO:tensorflow:loss = 6.704502, step = 8401 (0.278 sec)
INFO:tensorflow:global_step/sec: 351.917
INFO:tensorflow:loss = 4.6397057, step = 8501 (0.284 sec)
INFO:tensorflow:global_step/sec: 349.311
INFO:tensorflow:loss = 10.821503, step = 8601 (0.286 sec)
INFO:tensorflow:global_step/sec: 373.388
INFO:tensorflow:loss = 11.481302, step = 8701 (0.271 sec)
INFO:tensorflow:global_step/sec: 350.46
INFO:tensorflow:loss = 11.234636, step = 8801 (0.282 sec)
INFO:tensorflow:global_step/sec: 307.314
INFO:tensorflow:loss = 10.679205, step = 8901 (0.326 sec)
INFO:tensorflow:global_step/sec: 352.274
INFO:tensorflow:loss = 4.5405602, step = 9001 (0.283 sec)
INFO:tensorflow:global_step/sec: 338.839
INFO:tensorflow:loss = 5.0889044, step = 9101 (0.295 sec)
INFO:tensorflow:global_step/sec: 343.786
INFO:tensorflow:loss = 8.684071, step = 9201 (0.291 sec)
INFO:tensorflow:global_step/sec: 349.684
INFO:tensorflow:loss = 12.833191, step = 9301 (0.286 sec)
INFO:tensorflow:global_step/sec: 351.423
INFO:tensorflow:loss = 13.645859, step = 9401 (0.284 sec)
INFO:tensorflow:global_step/sec: 318.469
INFO:tensorflow:loss = 4.095965, step = 9501 (0.313 sec)
INFO:tensorflow:global_step/sec: 351.339
INFO:tensorflow:loss = 12.896088, step = 9601 (0.285 sec)
INFO:tensorflow:global_step/sec: 366.382
INFO:tensorflow:loss = 3.206458, step = 9701 (0.273 sec)
INFO:tensorflow:global_step/sec: 358.311
INFO:tensorflow:loss = 9.887484, step = 9801 (0.279 sec)
INFO:tensorflow:global_step/sec: 356.911
INFO:tensorflow:loss = 6.984006, step = 9901 (0.280 sec)
INFO:tensorflow:global_step/sec: 348.327
INFO:tensorflow:loss = 7.1073313, step = 10001 (0.288 sec)
INFO:tensorflow:global_step/sec: 353.518
INFO:tensorflow:loss = 6.559163, step = 10101 (0.283 sec)
INFO:tensorflow:global_step/sec: 353.303
INFO:tensorflow:loss = 5.7940445, step = 10201 (0.284 sec)
INFO:tensorflow:global_step/sec: 359.825
INFO:tensorflow:loss = 7.933775, step = 10301 (0.276 sec)
INFO:tensorflow:global_step/sec: 341.915
INFO:tensorflow:loss = 6.0975876, step = 10401 (0.293 sec)
INFO:tensorflow:global_step/sec: 314.571
INFO:tensorflow:loss = 4.6993523, step = 10501 (0.318 sec)
INFO:tensorflow:global_step/sec: 349.52
INFO:tensorflow:loss = 5.505434, step = 10601 (0.286 sec)
INFO:tensorflow:global_step/sec: 345.427
INFO:tensorflow:loss = 5.4577885, step = 10701 (0.289 sec)
INFO:tensorflow:global_step/sec: 350.67
INFO:tensorflow:loss = 5.7361727, step = 10801 (0.284 sec)
INFO:tensorflow:global_step/sec: 336.898
INFO:tensorflow:loss = 6.264203, step = 10901 (0.298 sec)
INFO:tensorflow:global_step/sec: 361.469
INFO:tensorflow:loss = 10.759206, step = 11001 (0.277 sec)
INFO:tensorflow:global_step/sec: 365.71
INFO:tensorflow:loss = 7.007766, step = 11101 (0.274 sec)
INFO:tensorflow:global_step/sec: 330.904
INFO:tensorflow:loss = 10.396896, step = 11201 (0.302 sec)
INFO:tensorflow:global_step/sec: 332.725
INFO:tensorflow:loss = 6.9144096, step = 11301 (0.301 sec)
INFO:tensorflow:global_step/sec: 342.612
INFO:tensorflow:loss = 7.5464635, step = 11401 (0.292 sec)
INFO:tensorflow:global_step/sec: 354.867
INFO:tensorflow:loss = 7.9525766, step = 11501 (0.283 sec)
INFO:tensorflow:global_step/sec: 337.433
INFO:tensorflow:loss = 4.8319917, step = 11601 (0.296 sec)
INFO:tensorflow:global_step/sec: 325.859
INFO:tensorflow:loss = 5.7915936, step = 11701 (0.307 sec)
INFO:tensorflow:global_step/sec: 351.884
INFO:tensorflow:loss = 10.744577, step = 11801 (0.284 sec)
INFO:tensorflow:global_step/sec: 331.993
INFO:tensorflow:loss = 4.398012, step = 11901 (0.301 sec)
INFO:tensorflow:global_step/sec: 350.574
INFO:tensorflow:loss = 10.951214, step = 12001 (0.285 sec)
INFO:tensorflow:global_step/sec: 335.37
INFO:tensorflow:loss = 13.187615, step = 12101 (0.298 sec)
INFO:tensorflow:global_step/sec: 342.648
INFO:tensorflow:loss = 9.500125, step = 12201 (0.292 sec)
INFO:tensorflow:global_step/sec: 351.686
INFO:tensorflow:loss = 8.094429, step = 12301 (0.284 sec)
INFO:tensorflow:global_step/sec: 360.197
INFO:tensorflow:loss = 6.17063, step = 12401 (0.278 sec)
INFO:tensorflow:global_step/sec: 362.223
INFO:tensorflow:loss = 6.954516, step = 12501 (0.275 sec)
INFO:tensorflow:Saving checkpoints for 12540 into ./logs/breastCancer_trained/model.ckpt.
INFO:tensorflow:Loss for final step: 0.032568917.

In [10]:
ev = model.evaluate(input_fn = make_input_fn(df_eval, num_epochs = 1))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-10-09-17:45:35
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./logs/breastCancer_trained/model.ckpt-12540
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-10-09-17:45:35
INFO:tensorflow:Saving dict for global step 12540: accuracy = 1.0, accuracy_baseline = 0.76363635, auc = 1.0, auc_precision_recall = 0.99999994, average_loss = 0.01896366, global_step = 12540, label/mean = 0.23636363, loss = 2.0860026, prediction/mean = 0.24478434

In [11]:
print(ev)

{'accuracy': 1.0, 'accuracy_baseline': 0.76363635, 'auc': 1.0, 'auc_precision_recall': 0.99999994, 'average_loss': 0.01896366, 'label/mean': 0.23636363, 'loss': 2.0860026, 'prediction/mean': 0.24478434, 'global_step': 12540}

In [12]:
print('RMSE on {} dataset = {}'.format('validation', np.sqrt(ev['average_loss'])))
print('Accuracy on {} dataset = {}'.format('validation', np.sqrt(ev['accuracy'])))

RMSE on validation dataset = 0.1377086043357849
Accuracy on validation dataset = 1.0

In [13]:
def make_test_fn(df, num_epochs):
  return tf.estimator.inputs.pandas_input_fn(
    x = df,
    num_epochs = num_epochs,
    shuffle = False,
    num_threads = 1
  )

In [14]:
prediction_result = model.predict(input_fn = make_test_fn(df_test, 1))

In [15]:
print(list(prediction_result))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./logs/breastCancer_trained/model.ckpt-12540
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
[{'logits': array([-6.189175], dtype=float32), 'logistic': array([0.00204732], dtype=float32), 'probabilities': array([0.9979527 , 0.00204732], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.768416], dtype=float32), 'logistic': array([0.00311497], dtype=float32), 'probabilities': array([0.996885  , 0.00311497], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.768416], dtype=float32), 'logistic': array([0.00311497], dtype=float32), 'probabilities': array([0.996885  , 0.00311497], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-7.136414], dtype=float32), 'logistic': array([0.00079497], dtype=float32), 'probabilities': array([9.9920505e-01, 7.9496752e-04], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.267651], dtype=float32), 'logistic': array([0.00512926], dtype=float32), 'probabilities': array([0.9948708 , 0.00512926], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-6.032374], dtype=float32), 'logistic': array([0.00239405], dtype=float32), 'probabilities': array([0.9976059 , 0.00239405], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([1.9534144], dtype=float32), 'logistic': array([0.8758185], dtype=float32), 'probabilities': array([0.12418152, 0.8758185 ], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([4.919642], dtype=float32), 'logistic': array([0.99275124], dtype=float32), 'probabilities': array([0.00724882, 0.99275124], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([1.6219764], dtype=float32), 'logistic': array([0.8350675], dtype=float32), 'probabilities': array([0.16493249, 0.8350675 ], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([-5.084295], dtype=float32), 'logistic': array([0.00615513], dtype=float32), 'probabilities': array([0.99384487, 0.00615513], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.7133555], dtype=float32), 'logistic': array([0.00329071], dtype=float32), 'probabilities': array([0.9967092 , 0.00329071], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-4.114783], dtype=float32), 'logistic': array([0.01606712], dtype=float32), 'probabilities': array([0.98393285, 0.01606712], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.7105403], dtype=float32), 'logistic': array([0.00329996], dtype=float32), 'probabilities': array([0.9967    , 0.00329996], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-6.372838], dtype=float32), 'logistic': array([0.0017044], dtype=float32), 'probabilities': array([0.9982956, 0.0017044], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.8237944], dtype=float32), 'logistic': array([0.00294765], dtype=float32), 'probabilities': array([0.9970523 , 0.00294765], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-7.214502], dtype=float32), 'logistic': array([0.0007353], dtype=float32), 'probabilities': array([9.9926466e-01, 7.3529594e-04], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-6.088397], dtype=float32), 'logistic': array([0.00226391], dtype=float32), 'probabilities': array([0.9977361 , 0.00226391], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([14.383494], dtype=float32), 'logistic': array([0.9999994], dtype=float32), 'probabilities': array([5.666665e-07, 9.999994e-01], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([5.661529], dtype=float32), 'logistic': array([0.9965348], dtype=float32), 'probabilities': array([0.00346515, 0.9965348 ], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([-5.7769046], dtype=float32), 'logistic': array([0.00308872], dtype=float32), 'probabilities': array([0.99691135, 0.00308872], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.4527287], dtype=float32), 'logistic': array([0.00426632], dtype=float32), 'probabilities': array([0.9957337 , 0.00426632], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.542772], dtype=float32), 'logistic': array([0.00390039], dtype=float32), 'probabilities': array([0.9960996 , 0.00390039], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-6.9727654], dtype=float32), 'logistic': array([0.00093618], dtype=float32), 'probabilities': array([9.9906379e-01, 9.3618064e-04], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-2.021811], dtype=float32), 'logistic': array([0.11693187], dtype=float32), 'probabilities': array([0.88306814, 0.11693186], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.9556875], dtype=float32), 'logistic': array([0.00258437], dtype=float32), 'probabilities': array([0.99741566, 0.00258437], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([3.49468], dtype=float32), 'logistic': array([0.97053605], dtype=float32), 'probabilities': array([0.02946398, 0.97053605], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([-6.5960984], dtype=float32), 'logistic': array([0.00136382], dtype=float32), 'probabilities': array([0.9986362 , 0.00136382], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.6605763], dtype=float32), 'logistic': array([0.00346844], dtype=float32), 'probabilities': array([0.99653155, 0.00346844], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-5.498744], dtype=float32), 'logistic': array([0.00407523], dtype=float32), 'probabilities': array([0.99592483, 0.00407523], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([-6.088397], dtype=float32), 'logistic': array([0.00226391], dtype=float32), 'probabilities': array([0.9977361 , 0.00226391], dtype=float32), 'class_ids': array([0]), 'classes': array([b'0'], dtype=object)}, {'logits': array([4.1941667], dtype=float32), 'logistic': array([0.9851408], dtype=float32), 'probabilities': array([0.01485918, 0.9851408 ], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([1.1052251], dtype=float32), 'logistic': array([0.75123787], dtype=float32), 'probabilities': array([0.24876216, 0.75123787], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}, {'logits': array([1.8371758], dtype=float32), 'logistic': array([0.86261433], dtype=float32), 'probabilities': array([0.13738565, 0.86261433], dtype=float32), 'class_ids': array([1]), 'classes': array([b'1'], dtype=object)}]

In [16]:
predictions = list(model.predict(input_fn = make_test_fn(df_test, 1)))
predicted_classes = [p["classes"] for p in predictions]
probabilities = [p["probabilities"] for p in predictions]
#print(len(probabilities))
for x in range(len(probabilities)):
    print(
        "Class Prediction:    {}"
        .format(predicted_classes[x]))

    print("Probability:    {}\n"
        .format(probabilities[x]))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./logs/breastCancer_trained/model.ckpt-12540
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
Class Prediction:    [b'0']
Probability:    [0.9979527  0.00204732]

Class Prediction:    [b'0']
Probability:    [0.996885   0.00311497]

Class Prediction:    [b'0']
Probability:    [0.996885   0.00311497]

Class Prediction:    [b'0']
Probability:    [9.9920505e-01 7.9496752e-04]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9948708  0.00512926]

Class Prediction:    [b'0']
Probability:    [0.9976059  0.00239405]

Class Prediction:    [b'1']
Probability:    [0.12418152 0.8758185 ]

Class Prediction:    [b'1']
Probability:    [0.00724882 0.99275124]

Class Prediction:    [b'1']
Probability:    [0.16493249 0.8350675 ]

Class Prediction:    [b'0']
Probability:    [0.99384487 0.00615513]

Class Prediction:    [b'0']
Probability:    [0.9967092  0.00329071]

Class Prediction:    [b'0']
Probability:    [0.98393285 0.01606712]

Class Prediction:    [b'0']
Probability:    [0.9967     0.00329996]

Class Prediction:    [b'0']
Probability:    [0.9982956 0.0017044]

Class Prediction:    [b'0']
Probability:    [0.9970523  0.00294765]

Class Prediction:    [b'0']
Probability:    [9.9926466e-01 7.3529594e-04]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9977361  0.00226391]

Class Prediction:    [b'1']
Probability:    [5.666665e-07 9.999994e-01]

Class Prediction:    [b'1']
Probability:    [0.00346515 0.9965348 ]

Class Prediction:    [b'0']
Probability:    [0.99691135 0.00308872]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9957337  0.00426632]

Class Prediction:    [b'0']
Probability:    [0.9960996  0.00390039]

Class Prediction:    [b'0']
Probability:    [9.9906379e-01 9.3618064e-04]

Class Prediction:    [b'0']
Probability:    [0.88306814 0.11693186]

Class Prediction:    [b'0']
Probability:    [0.99741566 0.00258437]

Class Prediction:    [b'1']
Probability:    [0.02946398 0.97053605]

Class Prediction:    [b'0']
Probability:    [0.9986362  0.00136382]

Class Prediction:    [b'0']
Probability:    [0.99653155 0.00346844]

Class Prediction:    [b'0']
Probability:    [0.99592483 0.00407523]

Class Prediction:    [b'0']
Probability:    [0.9977361  0.00226391]

Class Prediction:    [b'1']
Probability:    [0.01485918 0.9851408 ]

Class Prediction:    [b'1']
Probability:    [0.24876216 0.75123787]

Class Prediction:    [b'1']
Probability:    [0.13738565 0.86261433]

In [17]:
df_test

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses
661,4,1,1,1,2,1,3,1,1
662,1,1,3,1,2,1,2,1,1
663,1,1,3,1,2,1,2,1,1
664,3,1,1,3,2,1,2,1,1
665,1,1,1,1,2,1,1,1,1
666,5,2,2,2,2,1,1,1,2
667,3,1,1,1,2,1,3,1,1
668,5,7,4,1,6,1,7,10,3
669,5,10,10,8,5,5,7,10,1
670,3,10,7,8,5,8,7,4,1
671,3,2,1,2,2,1,3,1,1
672,2,1,1,1,2,1,3,1,1
673,5,3,2,1,3,1,1,1,1
674,1,1,1,1,2,1,2,1,1
675,4,1,4,1,2,1,1,1,1
676,1,1,2,1,2,1,2,1,1
677,5,1,1,1,2,1,1,1,1
678,1,1,1,1,2,1,1,1,1
679,2,1,1,1,2,1,1,1,1
680,10,10,10,10,5,10,10,10,7
681,5,10,10,10,4,10,5,6,3
682,5,1,1,1,2,1,3,2,1
683,1,1,1,1,2,1,1,1,1
684,1,1,1,1,2,1,1,1,1
685,1,1,1,1,2,1,1,1,1
686,1,1,1,1,2,1,1,1,1
687,3,1,1,1,2,1,2,3,1
688,4,1,1,1,2,1,1,1,1
689,1,1,1,1,2,1,1,1,8
690,1,1,1,3,2,1,1,1,1
691,5,10,10,5,4,5,4,4,1
692,3,1,1,1,2,1,1,1,1
693,3,1,1,1,2,1,2,1,2
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [18]:
#save model
clump_thickness = tf.feature_column.numeric_column("clump_thickness");
size_uniformity = tf.feature_column.numeric_column("size_uniformity");
shape_uniformity = tf.feature_column.numeric_column("shape_uniformity");
marginal_adhesion = tf.feature_column.numeric_column("marginal_adhesion");
epithelial_size = tf.feature_column.numeric_column("epithelial_size");
bare_nucleoli = tf.feature_column.numeric_column("bare_nucleoli");
bland_chromatin = tf.feature_column.numeric_column("bland_chromatin");
normal_nucleoli = tf.feature_column.numeric_column("normal_nucleoli");
mitoses = tf.feature_column.numeric_column("mitoses");
feature_columns = [clump_thickness, size_uniformity, shape_uniformity, marginal_adhesion, epithelial_size, 
                   bare_nucleoli, bland_chromatin, normal_nucleoli, mitoses];
feature_spec = tf.feature_column.make_parse_example_spec(feature_columns);
export_input_fn = tf.estimator.export.build_parsing_serving_input_receiver_fn(feature_spec);
model.export_savedmodel(OUTDIR, export_input_fn, as_text=False)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Signatures INCLUDED in export for Classify: ['serving_default', 'classification']
INFO:tensorflow:Signatures INCLUDED in export for Regress: ['regression']
INFO:tensorflow:Signatures INCLUDED in export for Predict: ['predict']
INFO:tensorflow:Restoring parameters from ./logs/breastCancer_trained/model.ckpt-12540
INFO:tensorflow:Assets added to graph.
INFO:tensorflow:No assets to write.
INFO:tensorflow:SavedModel written to: b"./logs/breastCancer_trained/temp-b'1539107158'/saved_model.pb"

b'./logs/breastCancer_trained/1539107158'

In [19]:
# Load model from export directory, and make a predict function.
predict_fn = tf.contrib.predictor.from_saved_model("./logs/breastCancer_trained/1539107158")

# Test inputs represented by Pandas DataFrame.
inputs = pd.DataFrame({
    'clump_thickness': [2,5],
    'size_uniformity': [1,10],
    'shape_uniformity': [1,10],
    'marginal_adhesion': [1,3],
    'epithelial_size': [2,7],
    'bland_chromatin': [1,3],
    'bare_nucleoli': [2,8],
    'normal_nucleoli': [1,10],
    'mitoses': [1,2],
})

# Convert input data into serialized Example strings.
examples = []
for index, row in inputs.iterrows():
    feature = {}
    for col, value in row.iteritems():
        feature[col] = tf.train.Feature(float_list=tf.train.FloatList(value=[value]))
    example = tf.train.Example(
        features=tf.train.Features(
            feature=feature
        )
    )
    examples.append(example.SerializeToString())

# Make predictions.
predictions = predict_fn({'inputs': examples})

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternatives.
INFO:tensorflow:Restoring parameters from b'./logs/breastCancer_trained/1539107158/variables/variables'

In [20]:
predictions

{'classes': array([[b'0', b'1'],
        [b'0', b'1']], dtype=object), 'scores': array([[0.9941346, 0.0058654],
        [0.0632105, 0.9367895]], dtype=float32)}